html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

strong {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

*:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

@-webkit-keyframes fromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes fromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@-webkit-keyframes fromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
@keyframes fromLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}
* {
  font-family: "Lato", sans-serif;
}

body {
  background: #141e30; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#243b55), to(#141e30));
  background: linear-gradient(to right, #243b55, #141e30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  max-width: 30rem;
  margin: 0 auto;
  padding: 2rem;
}
main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
main header picture {
  border-radius: 50%;
  overflow: hidden;
  max-width: 12rem;
  border: 3px solid transparent;
  -webkit-box-shadow: 3px 3px 0 0 rgba(255, 255, 255, 0.5);
          box-shadow: 3px 3px 0 0 rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-animation-name: fromTop;
          animation-name: fromTop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 991px) {
  main header picture {
    max-width: 8rem;
  }
}
main header h1 {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: bold;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  opacity: 0;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-animation-name: fromTop;
          animation-name: fromTop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 991px) {
  main header h1 {
    font-size: 1.8rem;
  }
}
main header a {
  color: #ffffff;
  opacity: 0.9;
  font-size: 1rem;
  text-decoration: none;
}
main header a:hover {
  text-decoration: underline;
}
main section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main section ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
main section ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #243b55;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  -webkit-box-shadow: 6px 6px 0 0px rgba(255, 255, 255, 0.5);
          box-shadow: 6px 6px 0 0px rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -webkit-transform: translateX(-2rem);
          transform: translateX(-2rem);
  -webkit-animation-name: fromLeft;
          animation-name: fromLeft;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
main section ul li:nth-child(1n) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
main section ul li:nth-child(2n) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
main section ul li:nth-child(3n) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
main section ul li:nth-child(4n) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
main section ul li:nth-child(5n) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
main section ul li:hover picture,
main section ul li:hover a {
  opacity: 1;
}
main section ul li picture {
  display: block;
  max-width: 5rem;
  padding: 1rem;
  opacity: 0.9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 991px) {
  main section ul li picture {
    max-width: 4rem;
  }
}
main section ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  opacity: 0.9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}
main section ul li a span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #ffffff;
  font-size: 1.4rem;
}
@media (max-width: 991px) {
  main section ul li a span {
    font-size: 1.2rem;
  }
}